<!-- Наследование от шаблона default.html -->
{% extends 'flatpages/default.html' %}

<!-- Название -->
{% block title %}
Справочник
{% endblock title %}

<!-- Выводим данные из справочника, идентификатор которого был передан в url -->
{% block content %}
    <div class="user-title">
        <h2>Справочник: {{ reference }}</h2>
    </div>
    <table cellpadding="5" align="center" style="font-size: 14pt">
        <tr>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>{{ reference.title }}</td>
            <td>{{ reference.description }}</td>
        </tr>
    </table>
{% endblock content %}